<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs"  Inherits="HayatFinder.Site" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>HayatFinder - University of Gujrat HafizHayat Campus Lost and Found portal</title>
     <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link href="Css/base.css" rel="stylesheet" />
<link href="Css/Site.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
         
        <header class="user-header">
            <div class="header-left">
                            <div class="logo">
    <img src="images/logoimage.png" alt="HayatFinder Logo" />
    
       <span class="logo-text">
        <span class="hayat">Hayat</span><span class="finder">Finder</span>
    </span>
   
</div>

                <nav class="user-nav">
                    <ul>
                        <li><a href="feed1.aspx">Feed</a></li>
                        <li><a href="myitem.aspx">My Items</a></li>
                        <li><a href="reportitem.aspx">Report Item</a></li>
                    </ul>
                </nav>
            </div>

            <div class="header-right">
               <asp:LinkButton 
    ID="btnLogout" 
    runat="server" 
    CssClass="logout-btn" 
    OnClientClick="openLogoutModal(); return false;">Logout</asp:LinkButton>
            </div>
        </header>

        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
       <footer class="footer">
            <div class="footer-content">
                <p>&copy; <%= DateTime.Now.Year %> HayatFinder. All rights reserved.</p>
                <p>University of Gujrat – Hafiz Hayat Campus</p>
            </div>
        </footer>
     
<div id="logoutModal" class="logout-modal">
    <div class="logout-modal-content">
        <h3>Are you sure you want to logout?</h3>
        <div class="logout-modal-buttons">
       <asp:Button 
    ID="btnConfirmLogout" 
    runat="server" 
    Text="Logout" 
    CssClass="logout-confirm-btn" 
    OnClick="btnConfirmLogout_Click"  
    CausesValidation="False"
    UseSubmitBehavior="False"
    ValidationGroup="" />
<asp:Button ID="btnCancel" runat="server" Text="Cancel"
    CssClass="logout-cancel-btn"
    OnClientClick="closeLogoutModal(); return false;"  />

        </div>
    </div>
</div>

    </form>
    <script>
function openLogoutModal() {
    document.getElementById("logoutModal").style.display = "flex";
}

function closeLogoutModal() {
    document.getElementById("logoutModal").style.display = "none";
}

// Optional: close modal when clicking outside content
window.addEventListener('click', function(e) {
    var modal = document.getElementById("logoutModal");
    if (e.target === modal) {
        modal.style.display = "none";
    }
});
    </script>

</body>
</html>
